{% extends 'base.html.twig' %}

{% block title %}Ouest Fitness Body{% endblock %}

{% block body %}
    <section>
        <h1>La scène principale</h1>
        <h2>en extérieur</h2>
    </section>
    <section>
        <h3>
            Vous souhaitez découvrir de nouveaux concepts de cours collectifs
        </h3>
        <p>
            C'est l'occasion de tout tester sur le scène extérieure.
        </p>
        <p>
            Les démonstrations se succèdent toutes les 20 minutes.
        </p>
        <p>
            Faites vous plaisir et enchainez les démonstrations ..
        </p>
        <p>
            Le planning est amené à changer jusqu'à l'ouverture du salon
        </p>
    </section>
    <section>
        <h3>
            Le planning des activités
        </h3>
    </section>
{% endblock body %}