{% extends 'base.html.twig' %}

{% block title %}Ouest Fitness Body{% endblock %}

{% block body %}
    <section>
        <h1>L'ÉVÈNEMENT FITNESS & SANTÉ À NANTES</h1>
        <h2>du 10 au 12 octobre 2025 au Parc Floral Paris</h2>
    </section>
    <section>
        <h1>Quelques noms de nos exposants !</h1>

    </section>
    <section>
        <h1>Vous avez certainement entendu parler de nous !</h1>

    </section>

    <section>
        <h1>
            FITEX Sport, venez découvrir une nouvelle expérience fitness
        </h1>

        <ul>
            <li>
                Rencontres physiques avec les plus grandes marques d’équipements, de matériels, de diététiques, de modes, … ,
            </li>
            <li>
                Business & mise en relation avec les professionnels du marché du Fitness, du Sport-Santé et connexes,
            </li>
            <li>
                Conventions exclusives internationales : LES MILLS, ZUMBA, ...
            </li>
            <li>
                Innovations et animations pour les pratiquants & coachs : lancement en avant première d'une Compétition nationale & internationale de STRONG…
            </li>
        </ul>
    </section>

    <section>
        <h1>
            L'expérience FITEX 2024, qu'est-ce que c'est ?
        </h1>
        <div>
            <article>
                <h2>
                    Activités sportives
                </h2>
                <p>
                    Echangez avec des professionnel(le)s sur vos problématiques et projets.
                    La satisfaction client, l'intelligence artificielle dans le fitness ... venez écouter les conférenciers FITEX .
                </p>
                <button>
                    Découvrir le planning
                </button>
            </article>
            <article>
                <h2>
                    Conférences de Coach
                </h2>
                <p>
                    Vous êtes coach ou vous souhaitez le devenir ? C'est l'endroit idéal pour échanger avec vos pairs
                    Participez aux ateliers du village des coachs sur la vente, la proprioception...
                </p>
                <button>
                    Découvrir le planning
                </button>
            </article>
            <article>
                <h2>
                    Présences de stand
                </h2>
                <p>
                    Vous souhaitez découvrir de nouveaux concepts fitness ? Vous êtes au bon endroit, FITEX is THE place to be...
                </p>
                <button>
                    Découvrir le plan
                </button>
            </article>
        </div>
    </section>
    <section>
        <article>
            <h2>
                Devenez exposant au FITEX 2024
            </h2>
            <p>
                Vous souhaitez devenir exposant au salon du fitness à Paris en 2024 ? Vous êtes à 3 clics d'avoir votre stand !
                Cliquez ci-dessous pour laisser votre contact et obtenir tous les renseignements pour avoir votre stand au prestigieux FITEX 2024 !            </p>
            <button>
                Devenir Exposant
            </button>
        </article>
    </section>

    <section>
        <div>
            <p>
                lien instagram
            </p>
            <p>
                bouton de follow
            </p>
        </div>
    </section>

{% endblock %}