{% extends 'base.html.twig' %}

{% block title %}Ouest Fitness Body{% endblock %}

{% block body %}
    <section>
        <h1>Comment se rendre au salon du fitness</h1>
        <p>11-13 octobre 2024</p>
        <p>Parc Floral Paris</p>
    </section>
    <section>
        <img src="#" alt="map-region">
        <div>
            <h2>Les transports en commun</h2>
            <div>
                <p>En transports en commun</p>
                <p></p>
            </div>
            <div>
                <p>En voiture</p>
                <p></p>
            </div>
        </div>
        <div>
            <h2>Les horaires du salon</h2>
            <p></p>
            <p></p>
            <p></p>
            <div>
                <p></p>
                <p></p>
            </div>
        </div>
        <div>
            <h2>Où se trouve le Solilab</h2>
            <p></p>
            <p></p>
            <p></p>
        </div>
        <div>
            <img src="" alt="">
            <h2>Restauration</h2>
            <p>Des food trucks sont à disposition pour vous vous restaurer ainsi qu'1 cafétéria</p>
        </div>
    </section>
    <iframe src="#" frameborder="0"></iframe>
{% endblock body %}