{% extends 'base.html.twig' %}

{% block title %}Ouest Fitness Body{% endblock %}

{% block body %}
    <h1>
        Les speakers du salon
    </h1>

    <p>
        33 conférenciers
    </p>
{% endblock body %}