{% extends 'base.html.twig' %}

{% block title %}Ouest Fitness Body{% endblock %}

{% block body %}
    <section>
        <h1>Les fondateurs</h1>
        <div></div>
    </section>
    <section>
        <h1>Les indispensables</h1>
        <div></div>
    </section>
{% endblock body %}