{% extends 'base.html.twig' %}

{% block title %}Ouest Fitness Body{% endblock %}

{% block body %}
    <section>
        <h1>
            Devenir Exposant
        </h1>
        <h2>
            Edition 2025
        </h2>
    </section>
    <section>
        <h1>Interviews exposants 2023</h1>
        {# TODO : grille vidéo #}
    </section>
    <section>
        <h1>
            Vous souhaitez exposer
        </h1>
        <h2>
            Laissez vos coordonnées
        </h2>

        {# TODO : formulaire de contact #}
    </section>
{% endblock body %}